[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"

[packages]
flask = "*"
flask_wtf = "*"
datetime = "*"
wtforms = "*"
time = "*"
requests = "*"
re = "*"
hashlib = "*"
openpyxl = "*"
pyquery = "*"
python-dotenv = "*"
